
body{
    background:var(--clr-grey-8);
}

.cart-heading-content{
    display:flex;
    justify-content:space-between;
    padding:0 2rem;
    align-items:end;
    padding-bottom: 0;
    margin-bottom:0;
}

.cart-heading-content p{
    color:var(--clr-primary-1);
    padding-bottom: 0;
    margin-bottom:0;
    margin-right: 1rem;
    font-size:1rem;

}



.cart-details{
    display:flex;
    gap:1rem;
    background:var(--clr-primary-7);
    border-radius:.5rem;
    box-shadow:var(--dark-shadow);
    margin-bottom:2rem;
}

.cart-section{
    width:70vw;
    margin:0 auto;
    padding-top:3rem;
}

.cart-item-img-container{
    flex:2;
    height:10rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.cart-img{
     border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.update-cart-qty{
    flex:2;
    padding-top:1rem;
    padding-left: 1rem;
}



.cart-label{
    font-size:1.25rem;
    font-weight:bold;
}

.cart-input{
    padding:.25rem;
    display:inline-block;
    font-size:.875rem;
    font-weight:bold;
    width:5rem;
    text-align:center;
    border-radius:.5rem;
    margin-left: .25rem;
    margin-right:.25rem;
}

.cart-btn{
     padding: .25rem .7rem;
    display:inline-block;
    font-size:.875rem;
    width:7rem;
}

.cart-item-content{
    flex:1;
    padding:1rem;
    text-align:right;
    padding-top: 1.5rem;

}

.cart-total{
    text-align: right;
    padding:2rem;
}

.cart-total h2{
    font-weight: normal;
}

.grand-total{
    font-weight:bold;
    margin-left: .25rem;
}