/* input[type='file']{
    color:transparent;
} */


.image-upload-control input{

background: inherit;
box-shadow: none;
border: none;

margin-top: 1rem;
margin-bottom:1rem;

max-width:15rem;
align-self: center;
cursor: pointer;

}

.image-upload-control {
    display:flex;
    gap: 3rem;
   
}

.upload-img-container{
    width: 10rem;
    height: 5rem;
    border:dashed;
    align-self: center;
    display:none;
}

.image-upload-control input::file-selector-button{

    padding: .25rem .5rem;
            background-color:var(--clr-primary-5);
            border:transparent;
            font-size:1rem;
            border-radius: var(--borderRadius);
            box-shadow:var(--dark-shadow);
            color:white;
            text-transform: uppercase;
            cursor: pointer;
}

body{
    background: var(--clr-grey-4);
}

.add-product-form{
    background:var(--clr-primary-7);
}