<%- include('../include/head') %> 
<link rel="stylesheet" href="/static/css/base.css">
</head>

<body>

    <%- include('../include/nav') %> 

    <div style="text-align: center;">

        <h1 style="margin-top: 1rem;">You are not authorised</h1>

    </div>

   

<%- include('../include/footer') %>